body {
  background-color: powderblue;
}

div {
    text-align: center;
}

h1 {
    color: rgb(196, 224, 58);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}