body {
  background-color: powderblue;
}

div {
    text-align: center;
}

h1 {
    color: black;
}

/*Front page image styling*/

.image {
  text-align: center;
  transition: .5s ease;
  backface-visibility: hidden;
}

.container {
  position: relative;
  width: 50%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: powderblue;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}
