body {
  background-color: powderblue;
}

div {
    text-align: center;
}

/*Front page image styling*/

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

/*Nav bar styling*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

