body {
  background-color: powderblue;
}

div {
    text-align: center;
}

body {
    text-align: center;    
}

/* text styling */

.text {
    text-align: left;
}

/*Nav bar styling*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

#navbarlink {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbarlink:active {
  background-color: #4CAF50;
}

/* For double columns in text*/

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}